/*
CSS controls the styling of the page.
You can write a color in directly, or use variables.
Try changing the color from blue to red in the
primary color variable below.
*/

:root {
	--color-primary: blue;
	--color-secondary: #c00;
}

/*
CSS doesn't allow variables to be used in media
queries just yet, but you can use these values
to help you out.

	--size-xs: 320px;
	--size-sm: 480px;
	--size-md: 768px;
	--size-lg: 1024px;
	--size-xl: 1200px;
*/

@import url('https://fonts.googleapis.com/css2?family=Jomhuria&family=Jost&display=swap');

body {
	overflow: hidden;
	background: rgba(255, 255, 255, 0.2) url('https://i.postimg.cc/1t2LmCY5/giphy-1.gif') center/cover no-repeat fixed;
	height: 100vh;
	background-color: #000;
	color: #fff;
}

.web-heading {
	text-align: center;
	font-family: Jomhuria;
	font-size: 150px;
	font-weight: 400;
	background: linear-gradient(91deg, #CD4949 19.5%, #E96494 39.21%, #437EF0 60.16%, #74BF62 80.9%);
	-webkit-background-clip: text;
	background-clip: text;

	color: transparent;
}

.button-section {
	width: 527px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.button {
	width: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.button-image {
	width: 100%;
	height: 90.602px;
	position: absolute;
}

.button-text {
	width: 54.367px;
	height: 26.683px;
	color: #FFF;
	text-align: center;
	font-family: Jost;
	font-size: 10px;
	font-weight: 700;
	position: absolute;
}

.signifier {
	display: flex;
	width: 203px;
	height: 111px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 100px;
}

.signifier-image {
	width: 95px;
	height: 95.899px;
}

.signifier-text {
	width: 180px;
	height: 15px;
	text-align: center;
	font-family: Jost;
	font-size: 20px;
	font-weight: 800;
}

.replacement-earphone {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	box-sizing: border-box;
}

.player {
	width: 90px;
	animation: floating 5s ease-in-out infinite alternate;
}

.player:nth-child(odd) {
	animation-direction: alternate-reverse;
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}

	100% {
		transform: translate(0, 15px);
	}
}

.homepage-players {
	position: relative;
	width: 100%;
	height: 100vh;
}

/* This uses the same value as --size-xs. */
@media screen and (width >=320px) {
	.content-container {
		margin: 0 auto;
		max-width: 768px;
	}
}